@model IEnumerable<ProjectTesting.Models.Product>

@{
    ViewData["Title"] = "Poducts List";
}

<h1>List of Products</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                <img src="~/Images/@item.imageURL" width="150px" height="150px" asp-append-version="true" />
            </td>
            <td>
                <form asp-action="AssignProducts">
                    @Html.EditorForModel()
                    <input type="submit" value="Add to Cart" class="btn btn-outline-success"/>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
