@model IEnumerable<ProjectTesting.Models.Product>

@{
    ViewData["Title"] = "Products List";
}

<h1>Product List</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                <img src="~/Images/@item.imageURL" width="150px" height="150px" asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
