@model IEnumerable<ProjectTesting.Models.Cart>
@using ProjectTesting.Models;
@using Microsoft.Extensions.Options;
@inject IOptions<ProjectTesting.Models.StripeSetting> Stripe

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.timeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalCartPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product.productName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.timeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalCartPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.productName)
            </td>
            <td>
                <a asp-action="Index" asp-controller="Checkout" asp-route-id="@item.id" class="btn btn-outline-primary">Buy</a>
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


